body{
    background:lightblue;
    color:azure;
    font-family:serif;
    padding: 0;
    margin: 0;
}
#container{
    background:salmon;
    padding:30px;
    width: 1100px;
    margin: 0 auto;
    border-left: 5px solid cyan;
    border-right: 5px solid cyan;

}
h1{
    background: blanchedalmond;
    color:darkblue;
    border-color: black;
    border-width: 20px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width:80%;
    font-family:"cursive";
    font-size: 3en;
    border: 6 px groove black;
}
h2{
    text-align: center;
}
h3{
    width:100px;
    border-left: 30px double blue;
    padding:6px;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    border-radius: 12px;
}
p{
    line-height: 1.5em;
    color:black;
}
img{
    float: left;
    width: 300px;
    height: 200px;
    border: white solid 3px;
    border-radius: 15px;
}
#bryan{
    float: right;
    margin-right: 0;
    margin-left: 8px;
}
.text{
    font-weight: bold;
    background-color:coral;
}
a:link{
    color:blue;
    font-weight: bold;
}
a:visited{
    color:darkcyan;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: blueviolet;
}
#sidebar{
    background-color: black;
    width:225px;
    float: right;
    border: 2px sold white;
    margin: 15px;
    margin-top: 80px;
    line-height: 2.25em;
}
#sidebar h3{
    padding: 5px;
    width: 100px;
    background:none;
}
@media (max-width:1200px){
    #container{
        background-color: aqua;
    }
}
@media (max-width: 907px){
    #container{
        width:100%;
    }
    #container, p{
        margin:0;
        padding:0;
        border: none;
    }
    body,h1,h2,h3,p,div{
        background-color:red;
        border: none;
    }
}
body:{
    padding:20px;
}
@media (){
    #sidebar{
        display:none;
    }
    img{
        float:none;
        border:none;
        width: 100%;
    }
    h3{
        margin: 10px;
    }
}
